{% load staticfiles %}
{% load cache %}
{% cache 600 head title%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>
<header>
    <h1>AppointME</h1>
{% endcache %}
    {% cache 60 header user.username %}
    {% if user.is_authenticated %}
		Hello, {{ user.username }}
		<a href="logout.html">Logout</a>
	{% else %}
		<a href="register.html">Register</a>
		<a href="login.html">Log in</a>
	{% endif %}
    {% endcache %}
</header>
<body>
{% block main %}
{% endblock %}
</body>
</html>
