<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<header>
    <h1>AppointME</h1>
    <p>
<!--
        <a href="index.html">index</a>
        <a href="login.html">login</a>
        <a href="register.html">register</a>
        <a href="calendar.html">calendar</a>
        <a href="studentBooking.html">booking</a>
        <a href="advisorPosting.html">posting</a>
-->
    </p>
</header>
<body>
{% block main %}{% endblock %}
</body>
</html>
