{% extends 'base.html' %}

{% block title %}Find Appointment{% endblock %}

{% block main %}
This is the appointME find Appointment page I want you to see this change.

	{% if form.errors %}
		<p class="error">Incorrect parameters entered</p>
	{% endif %}
	
	<form action="findAppointment" method="post"> {% csrf_token %}
		{{findAppointmentForm.as_list}}
		<input type="submit" value="Create" />
		<a href="{% url 'loggedIn'%}">Cancel</a>
	</form>


	<html> 
  
    <body> 
        <p>This is a proof of concept to update a select (drop-down) list of values, based on the selection of another select (drop-down) element using ajax.</p> 
        <form action="" method="get" accept-charset="utf-8"> 
            <select name="makes" onchange="FilterModels()" id="makes"> 
                <option>--</option> 
                <option value="1">Monday</option> 
                <option value="2">Tuesday</option> 
                <option value="3">Wednesday</option> 
                <option value="4">Thursday</option> 
                <option value="5">Friday</option> 
            </select> 
            <select name="models" id="models"> 
                <option>Choose Make</option> 
            </select> 
        </form> 
    </body> 
</html>

{% endblock %}
