{% extends 'base.html' %}

{% block title %}Find Appointment{% endblock %}

{% block main %}
This is the appointME find Appointment page I want you to see this change.

	{% if form.errors %}
		<p class="error">Incorrect parameters entered</p>
	{% endif %}
	
	<form action="findAppointment" method="post"> {% csrf_token %}
		{{findAppointmentForm.as_list}}
		<input type="submit" value="Create" />
		<a href="{% url 'loggedIn'%}">Cancel</a>
	</form>


	<html> 
  
    <body> 
        <p>Please select a day and a time you are looking to schedule an appointment during. Each appointment is 30 mins long</p> 
        <form action="" method="get" accept-charset="utf-8"> 
            <select name="makes" onchange="FilterModels()" id="makes"> 
                <option>--</option> 
                <option value="1">Monday</option> 
                <option value="2">Tuesday</option> 
                <option value="3">Wednesday</option> 
                <option value="4">Thursday</option> 
                <option value="5">Friday</option> 
            </select> 
            <select name="models" id="models"> 
                <option>9:00 am</option> 
                <option>9:30 am</option> 
                <option>10:00 am</option> 
                <option>10:30 am</option> 

            </select> 
        </form> 
    </body> 
</html>

{% endblock %}
