{% extends 'base.html' %}

{% block title %}Find Appointment{% endblock %}

{% block main %}
    This is the appointME find Appointment page!
    Check here if an appointment slot you wish to book is free

    {% if form.errors %}
        <p class="error">Incorrect parameters entered</p>
    {% endif %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_new_appointment-date").datepicker();
        });
    </script>
    <p>Please select a day and a time you are looking to schedule an appointment during. Each appointment is 30 mins
        long</p>
    <form action="" method="get" accept-charset="utf-8">
    {{ AppointmentForm }}
        <input type="submit" value="Check If desired slot is free"/>
    </form>

{% endblock %}
