{% extends 'base.html' %}
{% load cache %}

{% block main %}

This is the appointME loggedIn page
	{% cache 60 user.username %}
	<h2> Hello, {{full_name}}. You have logged in!</h2>
	<h2> Email - {{email}} </h2>
	<h2> GPA - {{gpa}} </h2>
	<h2> majorOne - {{majorOne}} </h2>
	<h2> majorTwo - {{majorTwo}} </h2>
	<h2> minor - {{minor}} </h2>
	<h2> year in school - {{year_in_school}} </h2>
	{% endcache %}
	<table>
		<tr>
			<th>timeslot</th>
			<th>advisor</th>
		</tr>
		{% for appointment in appointment_list %}
			<tr>
				<td> {{appointment.timeslot}}</td>
				<td> {{appointment.advisor.user}} </td>
			</tr>
		{% endfor %}
	</table>
	
	
	
	<p>Click <a href="logout"> here</a> to log out.</p>
	<p>Click <a href="findAppointment"> here</a> to find an appointment.</p>

{% endblock %}
