{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block main %}
This is the appointME login page

	{% if form.errors %}
		<p class="error">Incorrect username and password</p>
	{% endif %}
	
	<form action="auth" method="post"> {% csrf_token %}
		<label for="username">Username: </label>
		<input type="text" name="username" value="" id="username">
		<label for="password">Password: </label>
		<input type="password" name="password" value="" id="password">
		
		<input type="submit" value="login"/>
		<a href="{% url 'index'%}">Cancel</a>
	</form>

{% endblock %}
